@charset "UTF-8";

/*

em HTML e id  = em CSS e # (so pode um elemento)
 em HTML e class = em CSS e . (pode varios elementos)
 
*/

body{
    background-color: #efec9fc7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
   color: #023657;
}

h1#principal{
    text-align: center;
   background-color: #b0d53680;
   color: rgba(255, 255, 255, 0.819);
}

h2{
   color:#005C53;
   text-indent: 10px;
}

.basico{
    color:#c60d0d;
}

.intermediario{
    color:#b20785;
}

.avancado{
    color:#0582af;

}

.destaque{
    background-color: #b20784a1;
}