@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
   background-image: url(../imagens/back-print.jpg);
   /*desnecessario*/
}

main {
    border: 2px solid black;
}
main::after {
    content: 'Essa impressao foi feita atraves do site www.cursoemvideo.com';
    text-decoration: overline;
}

main h1 {
    text-shadow: none;
    color: black;
}

img#phone{ display: none;}
img#tablet{ display: none;}
img#print{ display: block;}
img#desktop{ display: none;}
img#tv{ display: none;}