@charset "UTF-8";

/* Versao para tablet*/

body {
    background-image: url(../imagens/back-tablet.jpg);
}

img#phone{ display: none;}
img#tablet{ display: block;}
img#print{ display: none;}
img#desktop{ display: none;}
img#tv{ display: none;}